* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    background-color: #7acfd8;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #7acfd8;
    color: #fff;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    /* Adjust the margin here to add space between buttons */
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #45a049;
}

.changes {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn1,
.btn2,
.btn3,
.btn4,
.btn5 {
    background-color: #33054e;
}

